<!doctype html>
<html lang="en">

<head>
  <title>AppPong!</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    {{#if currentUser}}
  <header>
     <nav>
       <div>
         <a class="hidden-nav logout-button" href="/users/profile/{{currentUser.username}}">My Profile</a>
        <form action="/auth/logout" method="post">
          <button type="submit" class="hidden-nav logout-button" href="/auth/logout">Logout</button>
        </form>
      </div>
        <img class="nav-img" id="profile-nav" src={{currentUser.image}} alt="My profile">
     </nav>
  </header>
    {{/if}}
  <main>
      {{{body}}}
  </main>
  <footer>
    <nav>
      {{#if login }}
        <a class="full-nav" href="/auth/signup">Signup</a>
      {{/if}}
      {{#if signup }}
        <a class="full-nav" href="/">Login</a>
      {{/if}}
      {{#if tournaments}}
        <a href="/users/{{currentUser.username}}/tournaments">Play</a>
        <a href="/users/{{currentUser.username}}/tournaments/manage">Manage</a>
        <a href="/users/{{currentUser.username}}/tournaments/ranking">Ranking</a>
      {{/if}}

    </nav>
  </footer>
  <script src="/javascripts/main.js"></script>
</body>
</html>
