<h3>{{name}} main draw</h3>
<form action="">
  <p><input type="number">{{fase3.[0].username}} vs {{fase3.[1].username}} <input type="number"></p>
  <p><input type="number">{{fase3.[2].username}} vs {{fase3.[3].username}} <input type="number"></p>
  <button class="button" type="submit">Send results</button>
</form>

