<div class="button-container">
  <a class="button" href="/users/{{currentUser.username}}/tournaments/create">Create</a>
</div>
<section class="card-container">
{{#unless tournamentsList}}
  <p class='info'>You didn't create any tournament, you can create one in the manage screen...</p>
{{/unless}}
{{#each tournamentsList}}
  {{#if iAmHost}}
   <article>
     <div class="loc-date">
      <form class="form-join" action="/users/tournaments/{{_id}}/edit" method="get">
        <button class="button-edit"><h3>{{name}}   <img src="/images/img_514069.png" alt="Edit img" class="edit-img"> </h3></button>
      </form>
      <p>{{location}}</p>
      <p>{{date}}</p>
    </div>
    <div>
      <p>{{players.length}}/{{numberPlayers}}</p>
      <form class="form-join" action="/users/tournaments/{{_id}}/start" method="post">
        <button class="button-start"><img src="/images/white-play-icon-png-11.png" alt="Edit img" class="edit-img"></button>
      </form>
    </div>
  </article>
  {{/if}}
{{/each}}
</section>
