<h1>Helooooo, ,play with us</h1>

<section>

  {{#each tournamentsList}}
  <article>
    <h3>{{name}}</h3>
    <p>{{location}}</p>
    <p>{{date}}</p>
    <p>{{players.length}}/{{numberPlayers}}</p>
    {{#if started}}
      <form action="/users/tournaments/{{_id}}/live" method="get">
        <button class="button" id="{{_id}}" >View</button>
      </form>
    {{else}}
      <form action="/users/tournaments/{{_id}}" method="post">
        <button class="button" id="{{_id}}" >Join</button>
      </form>
    {{/if}}
  </article>
  {{/each}}
</section>

