<section class="card-container">
  {{#unless tournamentsList}}
  <p class='info'>There's no tournament avaible now, you can create one in the manage screen...</p>
  {{/unless}}
  {{#each tournamentsList}}
  <article>
    <div>
      <h3>{{name}}</h3>
      <p>{{location}}</p>
      <p>{{date}}</p>
    </div>
    <div>
      <p class="players">{{players.length}}/{{numberPlayers}}</p>
      {{#if started}}
        <form class="form-join" action="/users/tournaments/{{_id}}/live" method="get">
          <button class="button join" id="{{_id}}" >View</button>
        </form>
      {{else}}
        <form class="form-join"  action="/users/tournaments/{{_id}}" method="post">
          <button class="button join" id="{{_id}}" >Join</button>
        </form>
      {{/if}}
    </div>
  </article>
  {{/each}}
</section>

